
body
{
background-color: white;
font-family: 'Chakra Petch', sans-serif;
}
h1 {
  font-size: 40px;

  color: MediumSeaGreen;
}

#top-header{
  width:100%;
  text-align: center;
}

.img-circle{
  width:200px;
  height:200px;
}

.row{
  width:100%;
}

#img-container{

  border-bottom-style:solid;
  border-bottom-color:black;
}

#img-row{
  padding-bottom:4%;
}
